* {
   box-sizing: border-box;
 
}
container{
   margin-top: 50px;
   
   margin:auto;
   font-family:"poppins";
}
.burgerplace {
   display: inline;
   margin-bottom:80px;
   padding:40px;
}
.burgerh {
   display: inline;
}
.cart {
   display: inline;
}
ul li{
   display: inline-block;
   padding: 30px;
}
h1 {
   
   float:right;
   text-decoration:none;
   display:flex;
   font-size:x-large;
   color:black;
   padding:40px;
   margin-right:20px;
   justify-content:space-between;
}
.home{
   margin-right: 20px;
   padding:20px;
}
.heading{
   display:flex;
   padding:10px;
   float:left;
}
.button {
       background-color: rgb(243, 168, 29);
       border: none;
       color: white;
       padding: 10px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 2px;
       cursor: pointer;
}
